<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/bcontactsstyle.css">
  <title>business contacts</title>
</head>
<body>
  <%- include ('../partials/header')%>  
  <div id="bcontainer">
    <h1>business contacts list</h1>
    <table class="contactsTable">
      <!--LOOK AT PROFESSOR EXAMPLE ON HOW TO LOOP THESE-->
      <tr>
        <th>first name</th>
        <th>last name</th>
        <th>phone#</th>
        <th>email</th>
      </tr>
      <% for(let i = 0; i < businessContactsList.length; i++) { %>
        <tr>
            <td class="text-center"><%= businessContactsList[i].firstname %></td>
            <td class="text-center"><%= businessContactsList[i].lastname %></td>
            <td class="text-center"><%= businessContactsList[i].phoneNumber %></td>
            <td><%= businessContactsList[i].email %></td>                        
            <td>
              <button><a href="/business/update/<%= businessContactsList[i]._id%>">update</button></a>
              <button><a href="/business/delete/<%= businessContactsList[i]._id%>">remove</button></a>
            </td>
        </tr>
    <% } %>
    </table>
  </div>
  <!--NEED TO ADD BUTTON TO ADD CONTACT-->  
  <%- include ('../partials/footer')%>  
</body>
</html>