<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">  
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/updatestyle.css">  
  <title>update</title>
</head>
<body>
  <%- include ('../partials/header') %>
  <!--FIRST NAME | LAST NAME | PHONE NUMBER| EMAIL ADDRESS | need to come back to the action
  think its supposed to be a function path but need to check the example first-->  
  <form method="post" id="updateForm">
    <h1>update business contacts</h1>
    <label for="">first name</label><br>
    <input type="text" name="firstname" value="<%=contact.firstname%>"><br>
    <label for="">last name</label><br>
    <input type="text" name="lastname" value="<%=contact.lastname%>"><br>    
    <label for="">phone number</label><br>
    <input type="text" name="phoneNumber" value="<%=contact.phoneNumber%>"><br>    
    <label for="">email</label><br>
    <input type="text" name="email" value="<%=contact.email%>"><br>    
    <button>update</button>
  </form>
  <%- include ('../partials/footer') %>
</body>
</html>